@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
	body {
		margin: 0;
		height: 100%;
		width: 100%;
		font-family: 'Arial', sans-serif;
	}
	header {
		position: fixed;
		width: 100%;
		text-align: center;
		font-size: 100px;
		height: 100px;
		top:50%;
		margin-top: -250px;
		color: red;
		font-weight: 900;
		display: none;
	}
	div {
		display: inline;
	}
	#front {
		position: fixed;
		top:0;
		left: 0;
		height: 100%;
		width: 100%;
		font-size: 45px;
		line-height: 50px;
		color: rgba(0,0,0,1);
		-webkit-transition: color 500ms ease;
		transition: color 500ms ease;
		-webkit-transform-origin: 50% top;
		transform-origin: 50% top;
	}
	#front #manifesto {
		position: absolute;
		top:0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	.zoom #front {
		color: rgba(0,0,0,.08);
		-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    cursor: default;
	}
	.inner {
		height: 100%;
		width: 80%;
		max-width: 1200px;
		min-width: 600px;
		display: table;
		margin: auto;
	}
	.inner p {
		text-align: justify;
	    text-justify: inter-word;
	}
	#manifesto .inner p {
	    display: table-cell;
		vertical-align: middle;
	}
	section {
		position: fixed;
		height: 100%;
		width: 100%;
	}
	.link {
		cursor: pointer;
		text-decoration: underline;
	}
	.zoom .link:not(.selected) {
		opacity: 0.08
	}
	.link.tag {
		color: green;
	}
	.link#students {
		color: blue;
	}
	.link#faculty {
		color: red;
	}
	.people {
		position: fixed;
		width: 100%;
		height: calc(100% - 144px);
		-webkit-transform: translateY(100%);
		-webkit-transition: all 300ms ease 100ms;
		font-size: 45px;
		line-height: 50px;
		opacity: 0;
		overflow-y: auto; 
	}
	.people.selected {
		-webkit-transform: translateY(144px);
		opacity: 1;
		z-index: 2;
	}
	#imageViewer {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: .3;
		z-index: 0;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
		background-color: rgba(255,255,255,0.9);
	}
	#imageViewer.hover {
		display: block;
		background-size: cover;
	}
	#imageViewer.clicked {
		display: block;
		background-size: auto 80%;
		opacity: 1;
		z-index: 5;
	}
	.people .images {
		width: 100%;
		display: block;
	}
	.people .images .image {
		width: 200px;
		display: block;
		float: left;
	}
	.people .images .image img {
		width: 100%;
	}