body {
	margin: 0;
	/*height: 100%;
	width: 100%;*/
	font-family: 'Maria Pro', 'Helvetica', 'Arial', sans-serif;
	/*background: #ffcced;*/
	/*background: rgba(0,255,0,1);*/
	min-width: 480px;
	position: relative;
	overflow: hidden;
}
#front {
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	color: rgba(0,0,0,1);
	-webkit-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	transition: color 500ms ease;
	-webkit-transform-origin: 50% top;
	-moz-transform-origin: 50% top;
	transform-origin: 50% top;
}
.zoom, .zoom #front  {
	overflow: hidden;
}
.zoom #front {
	color: rgba(0,0,0,.08);
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    cursor: default;
}
#front #manifesto {
	width: 70%;
	max-width: 1200px;
	padding: 50px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#front #manifesto .copy {
	font-size: 35px;
	line-height: 60px;
	text-indent: 140px;
	text-align: justify;
    text-justify: auto;
    display: block;
    margin: 20px 0 0 20px;
    padding:30px;
}
.inner {
	height: 100%;
	width: 80%;
	max-width: 1200px;
	min-width: 600px;
	/*display: table;
	margin: auto;*/
}
.inner .text {
	/*text-align: justify;
    text-justify: inter-word;*/
    
}
#manifesto .title {
	font-size: 75px;
	line-height: 85px;
	letter-spacing: 2px;
	font-weight: bolder;
	display: block;
}
.word {
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	transition: all 100ms ease;
	padding: 5px;
}
.word:hover {
	cursor: pointer;
}
.word.highlighted {
	background: rgba(254,234,94,1);
	/*background: -webkit-linear-gradient(left, rgba(254,234,94,1), rgba(255,20,20,2));*/
}
.copy .word {
	text-shadow: 0 0 5px rgba(255,255,255,.5);
}
.link {
	cursor: pointer;
	/*text-decoration: underline;*/
	color: black;
}
#manifesto .link {
	text-transform: uppercase;
	font-family: 'Times New Roman';
	border-bottom: 2px solid black;
}
#manifesto .link.selected {
	color: black;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;
}
.zoom #manifesto .link.selected:hover {
	/*text-decoration: line-through !important;*/
}
.zoom #manifesto .link:not(.selected) {
	opacity: 0.08;
}

#tool {
	position: fixed;
	right: 50px;
	top: 50px;
	width: 200px;
	/*height: 100px;*/
	background: rgba(254,234,94,1);
	box-shadow: 0px 3px 10px rgba(0,0,0,.1);
	border-radius: 6px;
	z-index: 100;
	overflow: hidden;
	/*opacity: .4;*/
}
.locked #tool {
	right:0 !important;
	top:0 !important;
	left:auto !important;
	height: 100% !important;
	border-radius: 0 !important;
}
.locked #tool:not(.dragging) {
	transition: all 100ms ease !important;
	-moz-transition: all 100ms ease !important;
	-webkit-transition: all 100ms ease !important;
}
#tool.closed {
	height: 40px !important;
}
body:not(.locked) #tool.dragging, body:not(.locked) #tool:hover {
	cursor: move;
	opacity: 1;
}
#tool header {
	background: rgba(0,0,0,.04);
	padding: 10px;
	display: table;
	width: calc(100% - 20px);
	width: -moz-calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
}
#tool header h1 {
	font-size: 25px;
	line-height: 25px;
	margin: 0;
	padding: 0;
	float:left;
}
#tool main {
	padding: 10px;
	display: table;
	width: 180px;
}
#tool #buttons {
	display: table;
	float: right;
}
#tool #buttons .button {
	float:left;
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
	margin: 0 5px;
}
#tool #close {
	transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-webkit-transition: all 200ms ease;
}
#tool.closed #close {

	transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-webkit-transform: rotateZ(45deg);
}

#tool section {
	display: table;
}
#tool h2 {
	font-size: 20px;
	line-height: 20px;
	margin: 20px 0 5px 0;
	padding: 0;
	font-weight: normal;
	opacity: .6;
}
#tool #background h2 {
	margin-top: 10px;
}
#tool h3 {
	font-size: 18px;
	line-height: 18px;
	margin: 5px 0 5px 0;
	padding: 0;
	font-weight: normal;
	cursor: pointer;
}
#tool select {
	display: block;
	width: 100%;
	background: white;
	/*height: 30px;*/
	font-size: 20px;
	outline: none;
	margin: 10px 0;
}
*[data-style="italic"] {
	font-style: italic !important;
}
*[data-style="underline"] {
	text-decoration: underline !important;
} 
*[data-style="strike"] {
	text-decoration: line-through !important;
} 
.square {
	width: 35px;
	height: 35px;
	margin:5px;
	float: left;
	cursor: pointer;
}
*[data-color='blue'] {
	background-color: #008ecd;
}
*[data-color='green'] {
	background-color: #38ea80;
}
*[data-color='red'] {
	background-color: #ff4517;
}
*[data-color='white'] {
	background-color: rgba(240,255,240,.5);
}
*[data-color='yellow'] {
	background-color: #ffff71;
}
*[data-pattern='grid'] {
	background-image: url(../img/patterns/grid.png);
	background-size: 10px;
}
*[data-pattern='dot'] {
	background-image: url(../img/patterns/dot.png);
	background-size: 4px;
}
*[data-pattern='pink-diagonal'] {
	background-image: url(../img/patterns/pink-diagonal.png);
	background-size: 10px;
}
*[data-pattern='pink-x'] {
	background-image: url(../img/patterns/pink-x.png);
	background-size: 10px;
}
*[data-pattern='horz-cyan'] {
	background-image: url(../img/patterns/horz-cyan.png);
	background-size: 20px;
}
*[data-pattern='scattered-sticks'] {
	background-image: url(../img/patterns/scattered-sticks.png);
	background-size: 20px;
}

#tool .help {
	display: block;
	opacity: .5;
	font-size: 14px;
	line-height: 16px;
}
#tool #unselect {
	font-size: 14px;
	line-height: 14px;
	cursor: pointer;
}
.people {
	position: fixed;
	width: 100%;
	height: 100%;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	transform: translateY(100%);
/*	-webkit-transition: -webkit-transform step-end 200ms;
	-moz-transition: -moz-transform step-end 200ms;
	transition: transform step-end 200ms;*/
	font-size: 45px;
	line-height: 50px;
	overflow-y: auto;
}
.people.selected {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
	/*opacity: 1;
	z-index: 2;*/
}
.people .blocks .block.text {
	font-size: 24px;
	line-height: 35px;
	width: 420px !important;
}
.block.text .link[data-style="strike"]:hover {
	text-decoration: none !important;
}

.people .blocks {
	padding: 0 30px;
	display: table;
	margin: auto;
}
.people .blocks .block {
	width: 200px;
	margin-bottom: 20px; 
	display: block;
	float: left;
	opacity: 0;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
}
.people .blocks .block.show {
	opacity: 1;
}
.people .blocks .block.hide {
	display: none;
}
.people .blocks .block.feature {
	width: 420px;
}
.people .blocks .image img {
	width: 100%;
}
.people .block.hide {
	display: none;
}
#imageViewer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .3;
	z-index: 0;
	background-repeat: no-repeat;
	background-position: center;
	display: none;
	background-color: rgba(255,255,255,0.9);
}
#imageViewer.hover {
	display: block;
	background-size: cover;
}
#imageViewer.clicked {
	display: block;
	background-size: auto 80%;
	opacity: 1;
	z-index: 5;
}
