body {
	margin: 0;
	/*height: 100%;
	width: 100%;*/
	font-family: 'Maria', 'Helvetica', 'Arial', sans-serif;
	/*background: #ffcced;*/
	/*background: rgba(0,255,0,1);*/
	min-width: 480px;
	background: 
}
body[data-color='white'] {
	background: rgba(240,255,240,.5);
}
body[data-color='yellow'] {
	background: #ffff71;
}
body[data-color='red'] {
	background: #ff4517;
}
body[data-color='blue'] {
	background: #008ecd;
}
/*body[data-color='blue'] .text {
	color: white;
}
body[data-color='blue'] .link {
	color: red;
}*/
body[data-color='green'] {
	background: #38ea80;
}

div {
	display: inline;
}


#front {
	position: fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	font-size: 35px;
	line-height: 50px;
	color: rgba(0,0,0,1);
	-webkit-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	transition: color 500ms ease;
	-webkit-transform-origin: 50% top;
	-moz-transform-origin: 50% top;
	transform-origin: 50% top;
}
#front #manifesto {
	position: fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
}
.zoom #front {
	color: rgba(0,0,0,.08);
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    cursor: default;
}
.inner {
	height: 100%;
	width: 80%;
	max-width: 1200px;
	min-width: 600px;
	display: table;
	margin: auto;
}
.inner .text {
	text-align: justify;
    text-justify: inter-word;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#manifesto .inner .text {
    display: table-cell;
	vertical-align: middle;
	padding: 30px;
}
#manifesto .inner .title {
	/*font-size: 45px;*/
	font-weight: bolder;
}
.word {
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	transition: all 100ms ease;
	/*padding: 1px 2px;*/
}
.word:hover {
	cursor: pointer;
	/*text-shadow: 0 0 20px rgba(254,234,94,1);*/
	background-color: rgba(254,234,94,.4);
}
.word.highlighted {
	/*border: 1px dotted black;*/
	background: rgba(254,234,94,1);
}
.link {
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}
#manifesto .link.selected {
	color: black;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;
}
.link.tag {
	color: green;
}
.zoom #manifesto .link:not(.selected) {
	opacity: 0.08;
}
.tool {
	position: fixed;
	width: 200px;
	/*height: 100px;*/
	background: rgba(254,234,94,1);
	box-shadow: 0px 3px 10px rgba(0,0,0,.1);
	border-radius: 6px;
	padding: 10px;
	z-index: 100;
	overflow: hidden;
	-webkit-transition: height 0ms ease 0 !important;
	-moz-transition: height 0ms ease 0 !important;
	transition: height 0ms ease 0 !important;
	/*opacity: .4;*/
}
.tool.closed {
	height: 22px !important;
	/*top:10px;*/
	/*right: 10px;*/
}
.tool.closed *:not(.close) {
	/*opacity: 0;*/
}
.tool.closed .close {
	transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-webkit-transform: rotateZ(45deg);
}
.tool#type {
	right: 50px;
	top: 50px;
}
.tool#page {
	left: 50px;
	bottom: 50px;
}
.zoom .tool#type {
	top: 10px;
	right: 10px;
	left: auto;
}
.zoom .tool#page {
	top: 62px;
	right: 10px;
	left: auto;
}

.tool .close {
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
	transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-webkit-transition: all 200ms ease;
}
.tool.dragging, .tool:hover {
	cursor: move;
	opacity: 1;
}
.tool h1 {
	font-size: 25px;
	line-height: 25px;
	margin: 0 0 10px 0;
	padding: 0;
}
.tool h2 {
	font-size: 20px;
	line-height: 20px;
	margin: 10px 0 5px 0;
	padding: 0;
	font-weight: normal;
}
.tool select {
	display: block;
	width: 100%;
	background: white;
	/*height: 30px;*/
	font-size: 20px;
	outline: none;
}
.tool h2 {
	cursor: pointer;
}
*[data-style="italic"] {
	font-style: italic !important;
}
*[data-style="underline"] {
	text-decoration: underline !important;
} 
*[data-style="strike"] {
	text-decoration: line-through !important;
} 
.tool .help {
	display: block;
	margin: 15px 0 0 0;
	opacity: .5;
	font-size: 14px;
	line-height: 16px;
}
section {
	position: fixed;
	height: 100%;
	width: 100%;
	text-align: justify;
    text-justify: inter-word;
}

.people {
	position: fixed;
	width: 100%;
	height: 100%;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	transform: translateY(100%);
/*	-webkit-transition: -webkit-transform step-end 200ms;
	-moz-transition: -moz-transform step-end 200ms;
	transition: transform step-end 200ms;*/
	font-size: 45px;
	line-height: 50px;
	overflow-y: auto;
}
.people.selected {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
	/*opacity: 1;
	z-index: 2;*/
}
.people .blocks .block.text {
	font-size: 24px;
	line-height: 35px;
	width: 420px !important;
}
.block.text .link[data-style="strike"]:hover {
	text-decoration: none !important;
}

.people .blocks {
	padding: 0 30px;
	display: table;
	margin: auto;
}
.people .blocks .block {
	width: 200px;
	margin-bottom: 20px; 
	display: block;
	float: left;
	opacity: 0;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
}
.people .blocks .block.show {
	opacity: 1;
}
.people .blocks .block.hide {
	display: none;
}
.people .blocks .block.feature {
	width: 420px;
}
.people .blocks .image img {
	width: 100%;
}
.people .block.hide {
	display: none;
}
#imageViewer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .3;
	z-index: 0;
	background-repeat: no-repeat;
	background-position: center;
	display: none;
	background-color: rgba(255,255,255,0.9);
}
#imageViewer.hover {
	display: block;
	background-size: cover;
}
#imageViewer.clicked {
	display: block;
	background-size: auto 80%;
	opacity: 1;
	z-index: 5;
}

.zoomOut {
	display: none;
	position: fixed;
	top: 10px;
	left: 10px;
	font-size: 40px;
	cursor: pointer;
}
.zoom .zoomOut {
	display: block;
}