@font-face {
	font-family:'Baskerville';
	src:url("fonts/baskerville/baskerville.eot");
	src:url("fonts/baskerville/baskerville.eot?#iefix") format('embedded-opentype'),
	    url("fonts/baskerville/baskerville.woff") format('woff'),
	    url("fonts/baskerville/baskerville.ttf") format('truetype'),
	    url("fonts/baskerville/baskerville.svg#Maria Pro") format('svg');
	font-weight:'normal';
	font-style:normal;
}
*[data-font='baskerville'] {
	font-family: 'Baskerville', sans-serif;	
}
@font-face {
	font-family:'Clarendon';
	src:url("fonts/clarendon/clarendon.eot");
	src:url("fonts/clarendon/clarendon.eot?#iefix") format('embedded-opentype'),
	    url("fonts/clarendon/clarendon.woff") format('woff'),
	    url("fonts/clarendon/clarendon.ttf") format('truetype'),
	    url("fonts/clarendon/clarendon.svg#Maria Pro") format('svg');
	font-weight:'normal';
	font-style:normal;
}
*[data-font='clarendon'] {
	font-family: 'Clarendon', sans-serif;	
}
@font-face {
	font-family:'Didot';
	src:url("fonts/didot/didot.eot");
	src:url("fonts/didot/didot.eot?#iefix") format('embedded-opentype'),
	    url("fonts/didot/didot.woff") format('woff'),
	    url("fonts/didot/didot.ttf") format('truetype'),
	    url("fonts/didot/didot.svg#Maria Pro") format('svg');
	font-weight:'normal';
	font-style:normal;
}
*[data-font='didot'] {
	font-family: 'Didot', sans-serif;	
}
@font-face {
	font-family:'Futura';
	src:url("fonts/futura/futura.eot");
	src:url("fonts/futura/futura.eot?#iefix") format('embedded-opentype'),
	    url("fonts/futura/futura.woff") format('woff'),
	    url("fonts/futura/futura.ttf") format('truetype'),
	    url("fonts/futura/futura.svg#Maria Pro") format('svg');
	font-weight:'normal';
	font-style:normal;
}
*[data-font='futura'] {
	font-family: 'Futura', sans-serif;	
}
@font-face {
	font-family:'Gill Sans';
	src:url("fonts/gillsans/gillsans.eot");
	src:url("fonts/gillsans/gillsans.eot?#iefix") format('embedded-opentype'),
	    url("fonts/gillsans/gillsans.woff") format('woff'),
	    url("fonts/gillsans/gillsans.ttf") format('truetype'),
	    url("fonts/gillsans/gillsans.svg#Maria Pro") format('svg');
	font-weight:'normal';
	font-style:normal;
}
*[data-font='gillsans'] {
	font-family: 'Gill Sans', sans-serif;	
}

@font-face {
    font-family: 'HelveticaLTStdBold';
    src: url('fonts/helvetica/HelveticaLTStdBold.eot');
    src: url('fonts/helvetica/HelveticaLTStdBold.eot') format('embedded-opentype'),
         url('fonts/helvetica/HelveticaLTStdBold.woff2') format('woff2'),
         url('fonts/helvetica/HelveticaLTStdBold.woff') format('woff'),
         url('fonts/helvetica/HelveticaLTStdBold.ttf') format('truetype'),
         url('fonts/helvetica/HelveticaLTStdBold.svg#HelveticaLTStdBold') format('svg');
}
@font-face {
    font-family: 'HelveticaLTStdBlkCond';
    src: url('fonts/helvetica/HelveticaLTStdBlkCond.eot');
    src: url('fonts/helvetica/HelveticaLTStdBlkCond.eot') format('embedded-opentype'),
         url('fonts/helvetica/HelveticaLTStdBlkCond.woff2') format('woff2'),
         url('fonts/helvetica/HelveticaLTStdBlkCond.woff') format('woff'),
         url('fonts/helvetica/HelveticaLTStdBlkCond.ttf') format('truetype'),
         url('fonts/helvetica/HelveticaLTStdBlkCond.svg#HelveticaLTStdBlkCond') format('svg');
}
@font-face {
    font-family: 'HelveticaLTStdCond';
    src: url('fonts/helvetica/HelveticaLTStdCond.eot');
    src: url('fonts/helvetica/HelveticaLTStdCond.eot') format('embedded-opentype'),
         url('fonts/helvetica/HelveticaLTStdCond.woff2') format('woff2'),
         url('fonts/helvetica/HelveticaLTStdCond.woff') format('woff'),
         url('fonts/helvetica/HelveticaLTStdCond.ttf') format('truetype'),
         url('fonts/helvetica/HelveticaLTStdCond.svg#HelveticaLTStdCond') format('svg');
}
@font-face {
    font-family: 'HelveticaLTStdBlk';
    src: url('fonts/helvetica/HelveticaLTStdBlk.eot');
    src: url('fonts/helvetica/HelveticaLTStdBlk.eot') format('embedded-opentype'),
         url('fonts/helvetica/HelveticaLTStdBlk.woff2') format('woff2'),
         url('fonts/helvetica/HelveticaLTStdBlk.woff') format('woff'),
         url('fonts/helvetica/HelveticaLTStdBlk.ttf') format('truetype'),
         url('fonts/helvetica/HelveticaLTStdBlk.svg#HelveticaLTStdBlk') format('svg');
}
@font-face {
    font-family: 'HelveticaLTStdRoman';
    src: url('fonts/helvetica/HelveticaLTStdRoman.eot');
    src: url('fonts/helvetica/HelveticaLTStdRoman.eot') format('embedded-opentype'),
         url('fonts/helvetica/HelveticaLTStdRoman.woff2') format('woff2'),
         url('fonts/helvetica/HelveticaLTStdRoman.woff') format('woff'),
         url('fonts/helvetica/HelveticaLTStdRoman.ttf') format('truetype'),
         url('fonts/helvetica/HelveticaLTStdRoman.svg#HelveticaLTStdRoman') format('svg');
}
@font-face {
    font-family: 'HelveticaLTStdBold';
    src: url('fonts/helvetica/HelveticaLTStdBold.eot');
    src: url('fonts/helvetica/HelveticaLTStdBold.eot') format('embedded-opentype'),
         url('fonts/helvetica/HelveticaLTStdBold.woff2') format('woff2'),
         url('fonts/helvetica/HelveticaLTStdBold.woff') format('woff'),
         url('fonts/helvetica/HelveticaLTStdBold.ttf') format('truetype'),
         url('fonts/helvetica/HelveticaLTStdBold.svg#HelveticaLTStdBold') format('svg');
}


@font-face {
	font-family:'Maria Pro';
	src:url("fonts/mariapro/maria.eot");
	src:url("fonts/mariapro/maria.eot?#iefix") format('embedded-opentype'),
	    url("fonts/mariapro/maria.woff") format('woff'),
	    url("fonts/mariapro/maria.ttf") format('truetype'),
	    url("fonts/mariapro/maria.svg#Maria Pro") format('svg');
	font-weight:'normal';
	font-style:normal;
}
*[data-font='mariapro'] {
	font-family: 'Maria Pro', sans-serif;	
}

@font-face {
	font-family:'Perpetua';
	src:url("fonts/mariapro/perpetua.eot");
	src:url("fonts/mariapro/perpetua.eot?#iefix") format('embedded-opentype'),
	    url("fonts/mariapro/perpetua.woff") format('woff'),
	    url("fonts/mariapro/perpetua.ttf") format('truetype'),
	    url("fonts/mariapro/perpetua.svg#Maria Pro") format('svg');
	font-weight:'normal';
	font-style:normal;
}
*[data-font='perpetua'] {
	font-family: 'Perpetua', sans-serif;	
}

